[bumpversion]
current_version = 0.0.7
commit = True
tag = True
message = 🔖 Bump version: {current_version} → {new_version}

[bumpversion:file:VERSION]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:openaleph_search/__init__.py]

[bumpversion:file:openaleph_search/settings.py]
