site_name: openaleph-search
site_url: https://docs.investigraph.dev/lib/openaleph-search
repo_url: https://github.com/openaleph/openaleph-search
nav:
  - Introduction: index.md
  - Features:
    - Matching: matching.md
    - More Like This: more_like_this.md
    - Significant Terms: significant_terms.md
    - Facets & Aggregations: aggregations.md
    - Highlighting: highlighting.md
  - Reference:
    - Command line: reference/cli.md
    - Settings: reference/settings.md
    - Index Mapping: reference/mapping.md
    - Query parameters: reference/parser.md
    - Authorization: reference/authorization.md
theme:
  name: material
  logo: https://openaleph.org/assets/Logo/RGB/Open-Aleph-Logo-RGB-Square-Neg.svg
  favicon: https://openaleph.org/favicon.ico
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.footer
    - toc.follow
    - content.code.copy
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: material/mail
      link: mailto:hi@dataresearchcenter.org
    - icon: material/web
      link: https://openaleph.org
    - icon: material/github
      link: https://github.com/openaleph/openaleph-search
    - icon: material/linkedin
      link: https://www.linkedin.com/company/dataresearchcenter/
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - mkdocs-click
  - pymdownx.details
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: false
            show_object_full_path: false
